# Configuration file

general {
    # Height starting value
    I:height=0

    # Pause chunk generation if more chunks than this are in memory
    I:maxChunksLoaded=10000

    # Number of chunks loaded per tick
    D:numChunksPerTick=128.0

    # Pause chunk generation when players are logged on
    B:pauseForPlayers=false

    # Skip a number of chunks at start of generation. Set automatically.
    I:skipChunks=267551

    # Number of chunks inbetween percentage updates
    I:updateDelay=40

    # Width starting value
    I:width=0

    # X starting value
    I:x=0

    # Z starting value
    I:z=0
}


