# Configuration file

general {
    I:EntityBabySkeleton=1
    I:EntityBat=1
    I:EntityCreeper=1
    I:EntitySkeleton=1
    I:EntitySlime=1
    I:EntitySquid=1
    I:EntityVillager=1
    I:EntityZombie=1
    I:EntityZombieSkullCrawler=1

    # Update Interval time for all burning EntityLiving, Arrows and Fireballs in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


